<div id="<%= dom_id sale_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= sale_item.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sale:</strong>
    <%= sale_item.sale_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= sale_item.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subtotal:</strong>
    <%= sale_item.subtotal %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= sale_item.total %>
  </p>

</div>
