<tr id="<%= dom_id(product) %>">
  <td class="whitespace-nowrap text-left px-4 py-2 font-medium text-gray-900">
    <%= image_tag(product.image, class: "rounded h-24 w-24 object-cover") %>
  </td>
  <td class="whitespace-nowrap text-left px-4 py-2 text-gray-700"><%= product.name %></td>
  <td class="whitespace-nowrap text-right px-4 py-2 text-gray-700"><%= number_to_currency(product.price) %></td>
  <td class="whitespace-nowrap text-right px-4 py-2">
    <%= link_to "View", product, class: "inline-block rounded bg-gray-100 px-4 py-2 text-xs font-medium hover:bg-gray-200" %>
  </td>
</tr>